.recommend-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommend-friends__title {
    font-size: 14px;
    color: var(--color-rgba);
}

.recommend-friends span {
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--color-rgba);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open-post__title {
    margin-bottom: 7px;
    font-weight: 600;
}
.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    display: flex;
    margin-top: 7px;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--color-rgba);
}

.open-post__member-status {
    color: #ffb0e0;
}
.open-post__photo {
    position: relative;
}

.open-post__photo-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.heart-icon {
    width: 15px;
    height: 15px;
    background-color: white;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post__heart-count span {
    margin-left: 3px;
}

.comment {
    width: 50px;
    height: 50px;
}

@keyframes heartBeat {
    0% {
        scale: 1;
        transform: none;
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        scale: 1;
        transform: none;
    }
}

.open-post__heart-count:hover .heart-icon {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}
